.weatherCard{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    .card{
        padding: 20px;
        width: 50%;
        display: flex;
        margin: 0 auto;
        justify-content: space-around;
        border: 1px solid white;
        padding-top: 20px;
        border-radius: 90px;  
        background-color: rgba(255, 255, 255, 0.134); 
    }
    
    .h2{
        text-align: center;
    }
}