.weatherCard{
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    .card{
        padding: 20px;
        width: 50%;
        display: flex;
        margin: 0 auto;
        justify-content: space-around;
        border: 1px solid white;
        padding-top: 20px;
        border-radius: 90px;  
        background-color: rgba(255, 255, 255, 0.134); 
    }
    
    .h2{
        text-align: center;
    }
    .card2 ::before{
        color: #fff;
    }
    .card2 ::after{
        color: rgba(0, 20, 88, 0.87);
    }
    @media screen and (max-witdh: 425px){  
    .card{
        display: flex;
        flex-direction: column;
        font-size: 10px;
    }
    }
}